@font-face {
  font-family: 'SB Body';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'SB Body';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsTYl4BO.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'SB Body';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'SB Body';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.page-top {
  line-height: 20px;
}
.page-top-span-text {
  font-size: 0.4em;
  border-bottom: 1px solid #19a2b8;
  border-top: 1px solid #19a2b8;
  padding: 2px;
  color: #bbb;
}
p {
  color: #60676d;
  font-size: 1.3em;
}
h2,
h4,
h5 {
  color: #2c3e55;
}
.nav-item .active {
  background-color: #19a2b8 !important;
}
.nav-item:hover a {
  color: #19a2b8 !important;
}
.nav-item .active:hover {
  color: #fff !important;
}
.agreements-item a {
  color: #60676d !important;
}
.container-blog {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 700px;
}
#wp-map {
  margin-bottom: -30px;
}
.blog-image-link {
  display: block;
  height: auto !important;
  overflow: hidden;
}

@media (min-width: 576px) {
  .blog-image-link {
    height: auto !important;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #31a3b2;
  background-color: #fff;
  border: 1px solid #dddfeb;
}
.page-link:hover {
  z-index: 2;
  color: #31a3b2;
  text-decoration: none;
  background-color: #eaecf4;
  border-color: #dddfeb;
}
.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #31a3b2;
  border-color: #31a3b2;
}
.page-item.disabled .page-link {
  color: #858796;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dddfeb;
}
.media-search {
  position: relative;
  width: 100% !important;
  min-width: auto;
}
#form-search {
  margin-top: 50px;
}
