<!DOCTYPE html>
<html lang="pt-br">
<meta http-equiv="Content-Language" content="pt-br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Diagnostico por Imagem, no sul de minas com os exames de Ressonância magnetica, Tomografia , Ultrasom, Desintometria ossea">
  <meta name="title" content="Diagnostico por Imagem">
  <meta property="og:url" content="https://pixeldiagnostico.com.br" />
  <meta property="og:title" content="Postagem do blog" />
  <meta property="og:description"
    content="Diagnostico por Imagem, no sul de minas com os exames de Ressonancia magnetica, Tomografia , Ultrasom, Desintometria ossea" />
  <meta property="og:image:url" content="{{ assetsUrl('img/pixel.jpeg') }}" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="500" />
  <meta property="og:image:alt" content="" />
  <title>Pixel Diagnósticos</title>
  <!-- Font Awesome icons (free version)-->
  {{ style('vendor/fontawesome-free/css/all.min.css') }}
  {{ style('front/css/styles.css') }}
  {{ style('front/css/heading.css') }}
  {{ style('front/css/body.css') }}
</head>

<body id="page-top">

  <!-- Sidebar -->
  @include('site.navbar')
  <!-- End of Sidebar -->

  <!-- Page Content -->
  <div class="container container-blog">
    <div class="text-center  m-3">
      <br />
      <h2 class="page-section-heading text-secondary d-inline-block">FAÇA SUA PERGUNTA</h2>
      <hr />
    </div>
    @if(flashMessage('success'))
    <div class="alert alert-info" role="alert">
      {{ flashMessage('message') }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    @endif
    <br />
    <form action="{{ route('site.pergunta') }}?_method=POST" method="POST" class="form" role="form"  autocomplete="off">
    {{ csrfField() }}
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Nome completo:</label>
        <div class="col-sm-4">
            <input value="{{ old('username', username|| '') }}" type="text" name="username" class="form-control {{ (hasErrorFor('username') ? 'is-invalid' : '') }}" id="inputName" placeholder="Nome completo" required>
        </div>
        {{ elIf('<span>$self</span>', getErrorFor('username'), hasErrorFor('username')) }}
      </div>
      <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-4">
            <input value="{{ old('email', email|| '') }}" type="email" name="email"  class="form-control {{ (hasErrorFor('email') ? 'is-invalid' : '') }}" id="inputName" placeholder="E-mail" required>
        </div>
        {{ elIf('<span>$self</span>', getErrorFor('email'), hasErrorFor('email')) }}
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Pergunta:</label>
        <div class="col-sm-10">
          <input value="{{ old('question', question|| '') }}" type="text" name="question" class="form-control {{ (hasErrorFor('question') ? 'is-invalid' : '') }}" id="inputQuestion" placeholder="Digite sua pergunta..." required>
          {{ elIf('<span>$self</span>', getErrorFor('question'), hasErrorFor('question')) }}
      </div>
      <input type="hidden" name="addtional" id='addtional'>

    </div>
      <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary">Enviar Pergunta</button>
          </div>
      </div>
  </form><br />
    <div class="text-center m-3">
      <br />
      <h2 class="page-section-heading text-secondary d-inline-block">Redes Sociais</h2>
      <hr />
    </div>
    <ul class="list-group list-group-flush m-3">
     <li class="list-group-item"><b class='text-primary'>Facebook:<b/> <a href='https://pt-br.facebook.com/pixeldiagnostico/'>FACEBOOK</a></li>
     <li class="list-group-item"><b class='text-primary'>Instagram:</b> <a href='https://www.https://www.instagram.com/Pixel_diagnostico/'>INSTRAGRAM</a></li>
     <li class="list-group-item"><b class='text-primary'>WhatsApp:</b> (35) 9835-7697</li>
    </ul>
  <br />
    <div class="text-center">
      <h2 class="page-section-heading text-secondary d-inline-block">PERGUNTAS RESPONDIDAS</h2>

    </div>
    <div class="row ml-1 mr-1 border-bottom">
      <!-- Search Widget -->
      @if(data)
      @each(item in data)
      <div class="media text-muted border-top border-gray media-search ">
      <a href="{{ route("site.showBlogPost", { slug: item.slug || item.id  }) }}" data-toggle="modal" data-target="#exampleModalCenter-{{ item.id }}">
          <p class="media-body pb-3 mb-0 pt-3 small lh-125 ">
            <strong
              class="text-info">{{ item.created_at.toISOString().slice(0, 10).split('-').reverse().join('-') }}</strong>
            - {{ safe(item.description.replace(term, '<span style="color:#2C3E50;font-weight:bold">'+term+'</span>')) }}
          </p>
        </a>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle-{{ item.id }}">
                {{ safe(item.description.replace(term, '<span style="color:#2C3E50;font-weight:bold">'+term+'</span>')) }}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div style="margin-top:-60px" class="modal-body">
              <p>Resposta:</p>
              {{ safe(item.response) }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      @endeach
      @else
      <div class="alert alert-info" role="alert">
        Nenhum artigo encontrado.
      </div>
      @endif

    </div>

    @if(total > 0)
    <br /><br />
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item @if(pageActive===total) {{ 'disabled' }} @endif">
          <a class="page-link" href="{{ route('site.dr-response', { id: prevPage }) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        @each(item in pages)
        @if(pageActive===$loop.index + 1)
        <li class="page-item active">
          <a class="page-link" href="#">{{ $loop.index + 1 }}<span class="sr-only">(current)</span></a>
        </li>
        @else
        <li class="page-item"><a class="page-link"
            href="{{ route('site.dr-response', { id: $loop.index + 1 }) }}">{{ ( $loop.index + 1 ) }}</a>
        </li>
        @endif
        @endeach
        <li class="page-item @if(prevPage===total) {{ 'disabled' }} @endif">
          <a class="page-link" href="{{ route('site.dr-response', { id: nextPage }) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Próxima</span>
          </a>
        </li>
      </ul>
    </nav>
    @else
    <div class="alert alert-info" role="alert">
      Seja o primeiro a fazer uma pergunta.
    </div>
    @endif
  </div>

  <!-- /.row -->

  <!-- Footer -->
  @include('site.footer')
  <!-- End of Footer -->

  <!-- Bootstrap core JS-->
  {{ script('vendor/jquery/jquery.min.js') }}
  {{ script('vendor/bootstrap/js/bootstrap.bundle.min.js') }}
  <!-- Third party plugin JS-->
  {{ script('vendor/jquery-easing/jquery.easing.min.js') }}
  <!-- Core theme JS-->
  {{ script('front/js/scripts.js') }}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    var txt = navigator.appCodeName
        + navigator.appName
        + navigator.appVersion
        + navigator.cookieEnabled
        + navigator.language
        + navigator.onLine
        + navigator.platform
        + navigator.userAgent

      document.getElementById('addtional').value = txt

  </script>
</body>

</html>
