<!DOCTYPE html>
<html lang="pt-br">
<meta http-equiv="Content-Language" content="pt-br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ post.seo }}">
  <meta name="title" content="Diagnostico por Imagem">
<meta property="og:url" content="{{ url }}" />
  <meta property="og:title" content="{{ post.name }}" />
  <meta property="og:description" content="{{ post.seo }}" />
  <meta property="og:image:url" content="{{ route("site.showPostImage", { id: post.file_id  }) }}" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="500" />
  <meta property="og:image:alt" content="{{ post.name }}" />
  <title>Pixel Diagnósticos</title>
  <!-- Font Awesome icons (free version)-->
  {{ style('vendor/fontawesome-free/css/all.min.css') }}
  {{ style('front/css/styles.css') }}
  {{ style('front/css/heading.css') }}
  {{ style('front/css/body.css') }}

  <style>
    table tbody td{
      width: auto!important;
      height: auto!important;
      text-align: center
    }
    table tbody tr{
      height: auto!important;
    }
  </style>
</head>

<body id="page-top">

  <!-- Sidebar -->
  @include('site.navbar')
  <!-- End of Sidebar -->

  <!-- Page Content -->
  <div class="container container-blog">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h2 class="mt-4 text-info">{{ post.name }}</h1>

          <!-- Author -->
          @if(post.author)
          <p class="lead"> por: <span class="font-weight-bold">{{ post.author }}</span> </p>
          @endif
          <hr>

          <!-- Date/Time -->
          @if(post.created_at)
          <p>{{ post.created_at.toLocaleString('pt-BR') }}</p>
          <br />
          @endif
          <hr>

          <!-- Preview Image -->
          @if(post.file_id)
          <img class="img-fluid shadow p-3 ml-1 bg-white" alt="{{ post.name }}"
            src="{{ route("site.showPostImage", { id: post.file_id  }) }}" alt="{{ name }}">
          @endif
          <hr>

          <!-- Post Content -->
          {{ safe(post.description) }}

          <br />
          <hr>
          <br />

          @if(tag)
          <p>Assuntos relacionados:</p>
          <div class="d-flex justify-content-around">
            @each(tag in post.tags)
            <a href="{{ route('site.searchTerm') }}?term={{ tag }}" class="btn btn-link btn-sm p-1 m-1 ">
              #{{ tag.trim().toUpperCase() }}
            </a>
            @endeach
          </div>
          @endif

          <br /><br />
          <div class="col-md-12 col-lg-12 mb-5 mx-auto ">
            <a href="{{ route("site.posts") }}" style="width:250px" class="btn  mx-auto btn-outline-info btn-lg btn-block">
              <span class="text ">Ver todas</span>
            </a>
         </div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <form action="{{ route('site.searchTerm') }}" method="GET" class="form" role="form">
            <h5 class="card-header">Pesquisar:</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" name='term' class="form-control" placeholder="Digite algo...">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Procurar</button>
                </span>
                {{ elIf('<span class=text-danger>Nenhum resultado encontrado...</span>', getErrorFor('term'), hasErrorFor('term')) }}
              </div>
            </div>
          </form>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Pesquise por assunto:</h5>
          <div class="card-body">
            <div class="row">
              @each(tags in post.allTags)
              <div class="col-lg-6">
                @each(tag in tags)
                <ul class="list-unstyled  mb-0">
                  <li>
                    <a href="{{ route('site.searchTerm') }}?term={{ tag }}" class="btn text-left btn-link btn-sm">
                      #{{ tag.trim().toUpperCase() }}
                    </a>
                  </li>
                  @endeach
                </ul>
              </div>
              @endeach
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  @include('site.footer')
  <!-- End of Footer -->

  <!-- Bootstrap core JS-->
  {{ script('vendor/jquery/jquery.min.js') }}
  {{ script('vendor/bootstrap/js/bootstrap.bundle.min.js') }}
  <!-- Third party plugin JS-->
  {{ script('vendor/jquery-easing/jquery.easing.min.js') }}
  <!-- Core theme JS-->
  {{ script('front/js/scripts.js') }}
</body>

</html>
