<strong>
  Recuperando Senha
</strong>
<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).</p>
<p>Para continuar com a recuperação de senha, clique no link abaixo:</p>
<a href="{{ link }}">Clique aqui</a>
