<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="xcJExdHeVLav2lRBIZQGjN3MZtCyD0sDI0NP0qZvQAo" />
  <meta name="author" content="Sidnei Simeão">
  <meta name="description"
    content="Diagnostico por Imagem, no sul de minas com os exames de Ressonância magnética, Tomografia , Ultrasom, Desintometria ossea">
  <meta name="title" content="Pixel Diagnosticos">
  <meta property="og:url" content="https://pixeldiagnostico.com.br" />
  <meta property="og:title" content="Página inicial do dashboard" />
  <meta property="og:description"
    content="Diagnostico por Imagem, no sul de minas com os exames de Ressonância magnética, Tomografia , Ultrasom, Desintometria ossea" />

  <meta property="ia:markup_url" content="https://pixeldiagnostico.com.br">
  <meta property="ia:rules_url" content="https://pixeldiagnostico.com.br">
  <title>Pixel Diagnósticos por Imagem</title>
  <!-- Custom fonts for this template-->
  {{ style('vendor/fontawesome-free/css/all.min.css') }}
  {{ style('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}
  <!-- Custom styles for this template-->
  {{ style('css/sb-admin-2.css') }}
</head>

<body class="bg-gradient-primary">

  <!-- Page Wrapper -->
  <div id="wrapper">
    @!section('content')
  </div>
</body>

</html>
