<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-site-verification" content="xcJExdHeVLav2lRBIZQGjN3MZtCyD0sDI0NP0qZvQAo" />
  <title>Mega Imagem Ressonância Magnética por Imagem</title>
  <!-- Custom fonts for this template-->
  {{ style('vendor/fontawesome-free/css/all.min.css') }}
  {{ style('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}
  <!-- Custom styles for this template-->
  {{ style('css/sb-admin-2.min.css') }}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    @!section('content')
  </div>
  <!-- End of Page Wrapper -->

  {{ script('vendor/jquery/jquery.min.js') }}
  {{ script('vendor/bootstrap/js/bootstrap.bundle.min.js') }}
  {{ script('vendor/jquery-easing/jquery.easing.min.js') }}
  {{ script('js/sb-admin-2.min.js') }}
  {{ script('vendor/chart.js/Chart.min.js') }}
  {{ script('js/demo/chart-area-demo.js') }}
  {{ script('js/demo/chart-pie-demo.js') }}

</body>

</html>
